@model IEnumerable<Task_3.Entities.Product>

<h2>Product List</h2>


<a href="@Url.Action("Create", "Product")" class="btn btn-success">Add New Product</a>

@if (Model == null || !Model.Any())
{
    <p>No products available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Discount</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Discount</td>
                    <td>@product.Price</td>
                    <td>
                        <img src="@product.ImagePath" alt="Product Image" style="width: 100px; height: 100px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
